<h1>Lista de comentarios</h1>

<table>
  <tr>
    <th>Evento</th>
    <th>Dueño</th>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.event_id %></td>
    <td><%= comment.owner_id %></td>
    <td><%= comment.text %></td>
    <td><%= link_to 'Mostrar', comment %></td>
    <td><%= link_to 'Editar', edit_comment_path(comment) %></td>
    <td><%= link_to 'Eliminar', comment, method: :delete, data: { confirm: '¿Esta seguro que desea eliminar su comentario?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo comentario', new_comment_path %>
