<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @comment.event_id %>
</p>

<p>
  <b>Owner:</b>
  <%= @comment.owner_id %>
</p>

<p>
  <b>Text:</b>
  <%= @comment.text %>
</p>


<%= link_to 'Editar', edit_comment_path(@comment) %> |
<%= link_to 'Regresar', comments_path %>
