<%= form_tag search_path, :method => 'get',:class=>"navbar-search pull-left" do |f|%>
    <%= text_field_tag :search, params[:search],:class=>"search-query", :placeholder=>"Búsqueda",:rel=>"tooltip",:"data-placement"=>"bottom",:"data-original-title"=>"Encuentra Clínicas Veterinarias por Nombre o Comuna, o Mascotas por Nombre y Raza",:style=>"width:180px;" %>
    <%= image_submit_tag '/assets/search.png', :name => nil%>
<% end %>