<div class="hero-unit">
  <p>También puedes encontar clínicas mendiante un mapa de santiago </p>
  <p>
      <%=link_to "Descúbrelas", search_maps_path , :class=>"pull-right btn btn-primary btn-large"%>
  </p>
</div>


<ul class="nav nav-tabs">
  <li id="cli_ul" class="active">
    <a id="cli_link" href="#">Clinicas</a>
  </li>
  <li id="pet_ul"><a id="pet_link" href="#">Mascotas</a></li>
</ul>


<div id="clinics_search">



<table class="table table-stripped">
<thead>
<tr><th>Nombre</th><th>Dirección</th><th>Comuna</th><th>Teléfono</th></tr>
</thead>
<% @clinic_results.each do |res| %>
<tr><td><%=res.name%></td><td><%=res.address%></td><td><%=res.location%></td><td><%=res.phone%></td></tr>
<%end%>
</table>
<%= will_paginate @clinic_results, :param_name => 'cli_page'%>





</div>


<div id="pets_search" class="hide">
<table class="table table-stripped">
<thead>
<tr><th>Nombre</th><th>Especie</th><th>Raza</th><th>Dueño</th></tr>
</thead>
<% @pet_results.each do |res| %>
<tr><td><%=res.name%></td><td><%=res.specie%></td><td><%=res.race%></td><td><%=res.user.name%></td></tr>
<%end%>
</table>
<%= will_paginate @pet_results, :param_name => 'pet_page'%>
</div>