<div class="modal hide" id="new-calendarevent-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Nuevo Evento</h3>
    </div>
    <div class="modal-body">

      <%= form_for @calendarevent, :html => { :class => 'form-horizontal' } do |f| %>
          <div class="control-group">
            <%= f.label :Fecha, :class => 'control-label' %>
            <div class="controls">
              <input id="datetimefield" name="Comienza en:" type="text" style ='width: 150px;' />
              <%= f.text_field :start_at, :embedded => true, :id=>"alt_time", :style =>"display:none", :value => Time.now %>
            </div>
          </div>
          <div class="control-group">
                  <%= f.label :mascota, :class => 'control-label' %>
            <div class="controls">
                  <%= f.select(:pet_id, @pets.all.collect {|p| [ p.name, p.id ] },{} ,{:style => 'width: 150px;'} )%>
            </div>
          </div>
          <div class="control-group">
                  <%= f.label :tipo_de_evento, :class => 'control-label' %>
            <div class="controls">
                <%= f.select :name,{"Ida al Veterinario"=>"Ida al Veterinario","Vacuna"=>"Vacuna","Dentista"=>"Dentista","Ejercicio"=>"Ejercicio","Corte de uñas"=>"Corte de uñas","Desparasitación"=>"Desparasitación","Peluquería"=>"Peluquería","Medicamento"=>"Medicamento","Baño"=>"Baño","Baño Sanitario"=>"Baño Sanitario","Compra de Comida"=>"Compra de Comida"},{} ,{:style => 'width: 160px;'} %>
            </div>
          </div>
          <div class="control-group">
                  <%= f.label "¿Es todo el día?", :class => 'control-label' %>
            <div class="controls">
              <%= f.select :all_day,{"No"=>0,"Si"=>1},{} ,{:class => 'sino'} %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label "Se repite cada", :class => 'control-label' %>
            <div class="controls">
              <%= f.select :number_of_times, {"0"=>0,"1"=>1,"2"=>2,"3"=>3,"4"=>4,"5"=>5,"6"=>6,"7"=>7,"8"=>8,"9"=>9,"10"=>10,"11"=>11,"12"=>12},{}, {:class => 'sino'} %> <%= f.select :every, {"Día(s)"=>"Days","Semana(s)"=>"Weeks","Mes(es)"=>"Months","Año(s)"=>"Years"} ,{}, {:style => 'width: 100px;'}%>
            </div>
          </div>
        
        </div>

        <div class="modal-footer">
          <div class="actions">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            <%= f.submit "Agregar Evento", :class=>"btn btn-primary" %>
          </div>
        </div>
      <% end %>
</div>
