<% unless @selectedce.nil? %>

<div class="modal hide" id="show-calendarevent-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel"><%= @selectedce.name %><small><%= " "+I18n.localize(@selectedce.start_at , :format => "%d de %b")%></small></h3>
    </div>
    <div class="modal-body">


<!--<<<<<<< HEAD
	<dl class="dl-horizontal">
	  <dd><%= "Mascota: #{@selectedce.pet.name}" %></dd>
	  <dd>Fecha: <%= I18n.localize(@selectedce.start_at , :format => :short)%><%="(todo el día)" if @selectedce.all_day %></dd>
	  <dd><%="Se repite cada  #{@selectedce.number_of_times} "   if @selectedce.number_of_times > 0%><%= @selectedce.every.gsub("Months","meses").gsub("Month","mes").gsub("Year","año").gsub("Years","años").gsub("Day","día").gsub("Days","dias") if @selectedce.number_of_times > 0%></dd>
=======-->
	<dl class="dl-horizontal dl-evento">
	  <%
	  	
	  %>
	  <!--<dd><b>Tipo: </b><%= traducir_evento(@selectedce.name) %></dd>-->
	  <dd><b>Mascota: </b><%= @selectedce.pet.name %></dd>
	  <dd><b>Hora: </b><%=
	  	if @selectedce.all_day
	  		html = "Todo el día"
	  	else
		  	html = add_cero(@selectedce.start_at.hour)
		  	html << ":"
		  	html << add_cero(@selectedce.start_at.min)
	  	end
	  	html
	  %></dd>
	  <!--<dd><b>Termino: </b><%= add_cero(@selectedce.end_at.hour) %>:<%= add_cero(@selectedce.end_at.min) %></dd>-->
	  <!--<dd><b><%=
	  	if @selectedce.all_day == true
	  		html = %(Todo el día.)
	  	end
	  %></b></dd>-->
	  <%
	  	if @selectedce.number_of_times != 0
	  		repet = true
	  	else
	  		repet = false
	  	end
	  %>
	  <!--<dd><%= @selectedce.last_ocurrence %></dd>-->
	  <dd></br>
	  <%=
	  	if repet == true
	  		html = "Se repite cada "
	  		html << "#{@selectedce.number_of_times} "
	  		html << %(#{@selectedce.every.gsub("Days","días.").gsub("Weeks","semanas.").gsub("Months","meses.").gsub("Years","años.")})
	  		html
	  	end
	  %></dd>
	  <!--<dd><%= @selectedce.every %></dd>-->

	</dl>


	</div>

    <div class="modal-footer">
        <div class="row">
        	<% unless @selectedce.complete %>
	        	<% if @selectedce.number_of_times >0 %>
	     		<a id="jumptosecondmodal" class="btn btn-success btn-medium" href="#">Confirmar</a>
	     		<%else%>
	     		<a id="finishmodal" class="btn btn-success btn-medium" href="/calendar/complete?idc=<%=@selectedce.id%>&repeat=false">Listo!</a>
	     		<%end%>
        	<%end%>
        </div>
    </div>  

	</div>
</div>
<script type="text/javascript">
  $('#show-calendarevent-modal').fadeIn().modal('show');
</script>




<% if @selectedce.number_of_times > 0%>
	<div id="secondmodal" class="modal hide">
		<div class="modal-header">
		 <a href="#" class="close" data-dismiss="modal">&times;</a>
		 <h3>¿Deseas reagendar el evento?</h3>
		</div>
		<div class="modal-body">
		    Su próxima ocurrencia será el día:
		    <%= I18n.localize(@selectedce.next_ocurrence , :format => :short)%>
		</div>
		<div class="modal-footer">
		    <div class="row">
		    	<a id="finishmodal" class="btn btn-alert btn-medium" href="/calendar/complete?idc=<%=@selectedce.id%>&repeat=false">No, he terminado</a>
		 		<a id="finishmodal" class="btn btn-success btn-medium" href="/calendar/complete?idc=<%=@selectedce.id%>&repeat=true">Si</a>
		    </div>
		</div>   
	</div>​
<%end%>






<%end%>

<style type="text/css">

#show-calendarevent-modal {

  z-index: 10001;
}

#secondmodal {

  z-index: 10002;
}​
</style>



<script type="text/javascript">
	function closeModal(modal) {
	  $(modal).modal('hide');
	}

	$('#jumptosecondmodal').click(function(e) {
	    $('#show-calendarevent-modal').fadeOut(400, function(){
	        $(this).modal('hide')
	        $('#secondmodal').fadeIn().modal('show')
	    })
	}) 
</script>
