<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->
<%= stylesheet_link_tag "event_calendar" %>
<%=render 'calendar/form' %>

<div id="calendario">
<%= raw(event_calendar) %>
</div>

<div class="agregar_calendarevent" style="margin-top:10px;"><button class="btn btn-success pull-right ">Agregar Evento</button></div>

<div id="selectedmodal"> <%=render "supermodal"%> </div>

<script type="text/javascript">


</script>