<div style="margin-left: auto; margin-right: auto; width:80%;">
<%= form_for("user", :url => user_session_path) do |f| %>
  <div style="line-height:0.1em;"><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div style="line-height:0.1em;"><%= f.label :contraseña %><br />
  <%= f.password_field :password %></div>

  <div><%= f.check_box :remember_me %> <%= f.label :recordarme %></div>

  <div><%= f.submit "Ingresar" %></div>
  <%= link_to "¿Olvidó su contraseña?", new_password_path('user') %>

  <%= link_to image_tag('/assets/facebook.png'), user_omniauth_authorize_path(:facebook) %>
<% end %>
</div>