<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div style="line-height:0.1em;"><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div style="line-height:0.1em;"><%= f.label :contraseña %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :recordarme %></div>
  <% end -%>

  <div><%= f.submit "Ingresar" %></div>
<% end %>

<%= render "users/shared/links" %>
