<div>
  <%= form_for setup_pet(@pet), :html => { :class => 'form-horizontal' } do |f| %>
     <section>

    <h2>Información Básica de tu Mascota</h2>
    <h6>(*) campos obligatorios<h6>
    <div class="control-group"> 
       <%= f.label :avatar, :class =>'control-label' %>
        <div class="controls">
          <%= f.file_field :avatar %>
        </div>
      </div>
    <div class="control-group">
      <%= f.label :nombre, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %> (*)
      </div>
    </div>
      <div class="control-group">
      <%= f.label :sexo, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :gender,{"Macho"=>0,"Hembra"=>1} ,:class => 'select_field' %> (*)
      </div>
    </div>
    <div class="control-group">
      <%= f.label :especie, :class => 'control-label' %>
      <div class="controls">
        <!-- <%= f.text_field :specie, :class => 'text_field' %> -->
        <%= f.select :specie,{"Perro"=>"Perro","Gato"=>"Gato"} %> (*)
      </div>
    </div>
    <div class="control-group">
      <%= f.label :raza, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :race, :class => 'text_field' %> (*)
      </div>
    </div>
    <div class="control-group">
      <%= f.label :fecha_de_nacimiento, :class => 'control-label' %>
      <div class="controls">
        <%= f.date_select :b_date, :class => 'date_select' %> (*)
      </div>
    </div>
    <div class="control-group">
      <%= f.label :'¿Esterilizado?', :class => 'control-label' %>
      <div class="controls">
        <%= f.select :sterilyzed,{"No"=>0,"Si"=>1},{} ,{:class => 'sino'} %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :Clinica, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :clinic_id, :class => 'number_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Privacidad del Timeline", :class => 'control-label' %>
      <div class="controls">
        <%= f.select :privacy_level,{"Público"=>1,"Sólo usuarios registrados"=>2, "Privado"=>3}%>
      </div>
    </div>
  </section>
  

  <section id="alimentacionypeso" style="padding-top:80px;">
    <h2>Alimentación y Peso</h2>
    <div class="control-group">
      <%= f.label :'Ultimo_peso', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :weight_last, :class => 'text_field weight_number' %> Kg.
      </div>
    </div>
    <div class="control-group">
      <%= f.label :peso_actual, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :weight_actual, :class => 'text_field weight_number' %> Kg.
      </div>
    </div>
    <div class="control-group">
      <%= f.label :tipo_de_comida, :class => 'control-label' %>
      <div class="controls">
        <!-- <%= f.text_field :food_type, :class => 'text_field' %> -->
        <%= f.select :food_type, {"Seca"=>"Seca","Seca + Humeda"=>"Seca + Humeda"} %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :cantidad, :class => 'control-label' %>
      <div class="controls">
        <!-- <%= f.number_field :food_dosis, :class => 'number_field' %> -->
        <%= f.select :food_dosis, {"1"=>1,"2"=>2,"3"=>3} %> Veces al día
      </div>
    </div>
    <div class="control-group">
      <%= f.label :'alimentación_extra', :class => 'control-label' %>
      <div class="controls">
        <!-- <%= f.text_field :food_extras, :class => 'text_field' %> -->
        <%= f.select :food_extras, {"Si"=>"Si","No"=>"No"},{}, {:class => 'sino'} %>
      </div>
    </div>
  </section>
  

  <section id="paseosyejercicios" style="padding-top:80px;">
    <h2>Paseos y Ejercicio</h2>
    <div class="control-group">
      <%= f.label :tipo_de_ejercicio, :class => 'control-label' %>
      <div class="controls">
        <!-- <%= f.text_field :exercise_type, :class => 'text_field' %> -->
        <%= f.select :exercise_type, {""=>"","Paseo"=>"Paseo","Entrenamiento"=>"Entrenamiento","Adiestramiento"=>"Adiestramiento"} %>
      </div>
    </div>
   
    <div class="control-group">
      <%= f.label :'Lugar de Ejercicio', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :exercise_location, :class => 'text_field' %>
      </div>
    </div>
  </section>
  

  <section id="identificacion" style="padding-top:80px;">
    <h2>Identificación</h2>
    <div class="control-group">
      <%= f.label :'Número de serie', :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :id_rabies, :class => 'number_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :'Número de inscripción', :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :id_pedigree, :class => 'number_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :'Número microchip', :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :id_microchip, :class => 'number_field' %>
      </div>
    </div>
  </section>
  <section id="peluqueria" style="padding-top:80px;">
    <h2> Peluquería</h2>
    <div class="control-group">
      <%= f.label :peluquería, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :hair_dreeser, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :tipo_de_pelaje, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :hair_type, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :tipo_de_corte, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :hair_cut_type, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :'Baño estético', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :bath_hairdresser, :class => 'text_field' %>
      </div>
    </div>
  </section>
  

  <section id="sanitizacion" style="padding-top:80px;">
    <h2>Sanitización</h2>
    <div class="control-group">
      <%= f.label :Ubicacion, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :san_bath, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :'Producto utilizado', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :san_bath_prod, :class => 'text_field' %>
      </div>
    </div>
  </section>

   <section id="desparasitacion" style="padding-top:80px;">
    <h2>Desparasitación</h2>
    <%= f.fields_for :deparasitation_pet do |deparasit|  %>
      <div class="control-group">
        <%= deparasit.label :Desparasitación, :class => 'control-label' %>

        <div class="controls">
          <%= deparasit.select :dep_type,{"Interna"=>0,"Externa"=>1} ,:class => 'select_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= deparasit.label :'Marca desparasitante', :class => 'control-label' %>
        <div class="controls">
          <%= deparasit.text_field :dep_brand, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= deparasit.label :fecha_de_desparasitación, :class => 'control-label' %>
        <div class="controls">
          <%= deparasit.date_select :dep_date, :class => 'date_select' %>
        </div>
      </div>
      <% unless deparasit.object.new_record? %>
        <% # Don't forget to name both of these '_destroy' in Rails 3 %>
      <% end %>
    <% end %>
  </section>
  
  <section id="vacunas" style="padding-top:80px;">
    <h2>Vacunas</h2>

    <%= f.fields_for :vaccine_pet do |vaccine|  %>
      <div class="control-group">
        <%= vaccine.label :Nombre, :class => 'control-label' %>
        <div class="controls">
          <%= vaccine.text_field :name, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= vaccine.label :'Número identificador de la vacuna', :class => 'control-label' %>
        <div class="controls">
          <%= vaccine.number_field :vaccine_id, :class => 'number_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= vaccine.label :fecha_de_vacunacion, :class => 'control-label' %>
        <div class="controls">
          <%= vaccine.date_select :vaccine_date, :class => 'date_select' %>
        </div>
      </div>
      <% unless vaccine.object.new_record? %>
        <% # Don't forget to name both of these '_destroy' in Rails 3 %>
        
      <% end %>
    <% end %>


  </section>
  
  <section id="enfermedades" style="padding-top:80px;">
    <h2>Enfermedades</h2>

    <%= f.fields_for :disease_pet do |disease|  %>
      <div class="control-group">
        <%= disease.label :Tipo_de_Enfermedad, :class => 'control-label' %>
        <div class="controls">
          <%= disease.number_field :name, :class => 'number_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= disease.label :'¿Es crónica?', :class => 'control-label' %>
        <div class="controls">
          <%= disease.select :cronic,{"Si"=>0,"No"=>1} ,:class => 'select_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= disease.label :fecha_de_diagnóstico, :class => 'control-label' %>
        <div class="controls">
          <%= disease.date_select :diagnostic_date, :class => 'date_select' %>
        </div>
      </div>
      <div class="control-group">
        <%= disease.label :'Medicamento tratante', :class => 'control-label' %>
        <div class="controls">
          <%= disease.text_field :medication, :class => 'text_field' %>
        </div>
      </div>
      <% unless disease.object.new_record? %>
        <% # Don't forget to name both of these '_destroy' in Rails 3 %>
        
      <% end %>
    <% end %>
  </section>

    <div class="well" style="position:fixed;bottom:70px;right:30px;">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  pets_path, :class => 'btn' %>
    </div>
  <% end %>
</div>