<div class="well" data-spy="affix">
	<ul class="nav nav-list bs-docs-sidenav">
	  <li class="active"><a href="#infogeneral"> Información Básica</a></li>
	  <li><a href="#alimentacionypeso"> Alimentación y Peso</a></li>
	  <li><a href="#paseosyejercicios"> Paseos y Ejercicios</a></li>
	  <li><a href="#identificacion"> Identifiación</a></li>
	  <li><a href="#peluqueria"> Peluquería</a></li>
	  <li><a href="#sanitizacion"> Baños Sanitizadores</a></li>
	  <li><a href="#desparasitacion">Desparasitación</a></li>
	  <li><a href="#vacunas">Vacunas</a></li>
	  <li><a href="#enfermedades">Enfermedades</a></li>
	</ul>
</div>

