<div class="well sidebar-nav pet">
  <ul class="nav nav-list">
    <li class="nav-header">Mis Mascotas</li>
    <% @pets.each do |pet| %>
	    <li>
	    	<a href="<%=pet_path(pet)%>">
	        <dl class="dl_navbar_pet">
            <dt><%= image_tag pet.avatar.url(:navbar), :class => "img_pet_navbar"%></dt>
            <dd><b><%= pet.name %></b></dd>
            <dd>
            <%= edad = distance_of_time_in_words(Time.now, pet.b_date, false, { :highest_measure_only => true,:except => ["minutes", "hours"] })

              if edad == ""
                "Recién nacido."
              else
                edad.gsub("months","meses").gsub("month","mes").gsub("year","año").gsub("years","años").gsub("day","día").gsub("days","dias")
              end
             %>
          </dd>
          </dl>
	        <%#= pet.specie %>
	        <%#= pet.race %>
	      </a>
      </li>
    <% end %>	
  </ul>
  <p class="btn btn-primary" data-toggle="modal" href="#firstmodal">Agrega una Mascota</p>  

</div><!--/.well -->
<%
  def superfuncion(evento)
    estado = User.calendar_status(evento, @pets).gsub("atrasado","rojo").gsub("ok","bien").gsub("none","gris").gsub("proximo","amarilla")
    image = %(<img src="/assets/iconos/::#{evento}::_#{estado}.png" style="width:30px;"/>)
    case evento
      when "Ida al Veterinario"
        image = image.gsub("::#{evento}::","veterinario")
      when "Compra de Comida"
        image = image.gsub("::#{evento}::","alimentacion")
      when "Medicamento"
        image = image.gsub("::#{evento}::","medicamento")
      when "Corte de uñas"
        image = image.gsub("::#{evento}::","garras")
      when "Ejercicio"
        image = image.gsub("::#{evento}::","paseos")
      when "Dentista"
        image = image.gsub("::#{evento}::","dientes")
      when "Baño"
        image = image.gsub("::#{evento}::","bano")
      when "Baño Sanitario"
        image = image.gsub("::#{evento}::","bano")
      when "Vacuna"
        image = image.gsub("::#{evento}::","vacuna")
      when "Desparasitación"
        image = image.gsub("::#{evento}::","desparasitar")
      when "Peluquería"
        image = image.gsub("::#{evento}::","peluqueria")
      else
        image = estado#image.gsub("::#{evento}::","caca")
    end
  end
%>
<div class="well sidebar-nav pet">
  <ul class="nav nav-list">
    <li class="nav-header">Alertas</li>
    <p>Veterinario: <%= superfuncion("Ida al Veterinario").html_safe %></p> 
    <p>Alimentación: <%= superfuncion("Compra de Comida").html_safe %></p>
    <p>Medicamento: <%= superfuncion("Medicamento").html_safe %></p>
    <p>Corte de uñas: <%= superfuncion("Corte de uñas").html_safe %></p>
    <p>Ejercicio: <%= superfuncion("Ejercicio").html_safe %></p>
    <p>Dentadura: <%= superfuncion("Dentista").html_safe %></p>
    <p>Baño: <%= superfuncion("Baño").html_safe %></p>
    <p>Baño Sanitario: <%= superfuncion("Baño Sanitario").html_safe %></p>
    <p>Vacunas: <%=superfuncion("Vacuna").html_safe %></p>
    <p>Desparasitación: <%=superfuncion("Desparasitación").html_safe %></p>
    <p>Peluquería: <%= superfuncion("Peluquería").html_safe %></p>
</div><!--/.well -->
