<%= render 'navbar_no_pets' if params[:action] == "index" and current_user.pets.empty? %>
<%= render 'navbar_pets' if params[:action] == "index" and not current_user.pets.empty? %>
<%= render 'navbar_newedit' if params[:action] == "new"  or params[:action] == "edit"%>
<%= render 'navbar_pet' if params[:action] == "show" %>