<div class="well sidebar-nav nopet" data-spy="affix">
  <ul class="nav nav-list">
    <li class="nav-header">Mis Mascotas</li>
    <% @pets.each do |pet| %>
	    <li>
	    	<a href="<%=pet_path(pet)%>">
	    	<%= pet.name %>
	        <%= pet.specie %>
	        <%= pet.race %>
	      </a>
      </li>
    <% end %>	
  </ul>
  <p class="btn btn-primary" data-toggle="modal" href="#firstmodal">Agrega una Mascota</p>  

</div><!--/.well -->