<%= form_for @pet, :html => { :class => 'form-horizontal form-noenter' } do |f| %>   
<div id="firstmodal" class="modal hide">
    <div class="modal-header">
     <a href="#" class="close" data-dismiss="modal">&times;</a>
     <h3>Cuéntanos sobre tu Mascota</h3>
    </div>
    <div class="modal-body">

    <div class="control-group">
      <%= f.label :nombre, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %> (*)
      </div>
    </div>
      <div class="control-group">
      <%= f.label :sexo, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :gender,{"Macho"=>0,"Hembra"=>1} ,:class => 'select_field' %> (*)
      </div>
    </div>

    <div class="control-group">
      <%= f.label :especie, :class => 'control-label' %>
      <div class="controls">
       <%= f.select :specie,{"Perro"=>"Perro","Gato"=>"Gato"}%> (*)
      </div>
    </div>
    <div class="control-group">
      <%= f.label :raza, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :race, :class => 'text_field',:id=>"auto_complete",:"data-provide"=>"typeahead",:autocomplete=>"off" %> (*)
      </div>
    </div>



    </div>
    <div class="modal-footer">
        <div class="row">
     		<a id="jumptosecondmodal" class="btn btn-success btn-medium" href="#">Siguiente</a>
        </div>
    </div>   
    
</div>

<div id="secondmodal" class="modal hide">
    <div class="modal-header">
     <a href="#" class="close" data-dismiss="modal">&times;</a>
     <h3>Falta sólo un poco...</h3>
    </div>
    <div class="modal-body">
	    <div class="control-group">
	      <%= f.label :fecha_de_nacimiento, :class => 'control-label' %>
	      <div class="controls">
	        <%= f.date_select :b_date,:start_year => Time.now.year-30, :end_year => Time.now.year,:class => 'date_select' %> (*)
	      </div>
	    </div>
	    <div class="control-group">
	      <%= f.label :'¿Esterilizado?', :class => 'control-label' %>
	      <div class="controls">
	        <%= f.select :sterilyzed,{"No"=>0,"Si"=>1},{} ,{:class => 'sino'} %>
	      </div>
	    </div>
	    <div class="control-group">
	      <%= f.label :Clinica, :class => 'control-label' %>
	      <div class="controls">
	        <%= text_field_tag :clinic_name,"" ,:"data-provide"=>"typeahead",:autocomplete=>"off", :"data-source"=>@clinics.to_json %>
	      </div>
	    </div>
	   <div class="control-group"> 
       	<%= f.label :avatar, :class =>'control-label' %>
        <div class="controls">
          <%= f.file_field :avatar %>
        </div>
    </div>
    </div>
    <div class="modal-footer">
        <div class="row">
     		<%= f.submit nil, :class => 'btn btn-primary btn-medium' %>
        </div>
    </div>   



</div>​

  <%end%>


<style type="text/css">

#firstmodal {

  z-index: 10001;
}

#secondmodal {

  z-index: 10002;
}​
</style>



<script type="text/javascript">
	function closeModal(modal) {
	  $(modal).modal('hide');
	}

	$('#jumptosecondmodal').click(function(e) {
	    $('#firstmodal').fadeOut(400, function(){
	        $(this).modal('hide')
	        $('#secondmodal').fadeIn().modal('show')
	    })
	}) 
</script>