<!-- Archivos de lightbox -->
<!--<script type="text/javascript" src="assets/lightbox/jquery.js"></script>-->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<!--<script type="text/javascript" src="assets/lightbox/jquery.lightbox-0.5.js"></script>-->
<link rel="stylesheet" type="text/css" href="assets/jquery.lightbox-0.5.css" media="screen" />
<!-- fin de archivos de lightbox -->
<!-- Ativando o jQuery lightBox plugin -->
<script type="text/javascript">
    $(function() {
        $('#gallery a').lightBox();
    });
</script>
<style type="text/css">
  /* jQuery lightBox plugin - Gallery style */
  #gallery {
    //background-color: #444;
    //padding: 10px;
    //width: 520px;
    //margin:0;
    //padding:0;
    //display: inline-block;
    //max-width: 150px;
  }
  #gallery ul { list-style: none; }
  #gallery ul li { display: inline; }
  #gallery ul img {
    //border: 5px solid #3e3e3e;
    //border-width: 5px 5px 20px;
  }
  #gallery ul a:hover img {
    //border: 5px solid #fff;
    //border-width: 5px 5px 20px;
    color: #fff;
  }
  #gallery ul a:hover { color: #fff; }
</style>


<%- model_class = Pet -%>
 <%= render 'wizard' %>
 <%if current_user.pets.empty? %>
  <script type="text/javascript">
    $(function(){
      $('#firstmodal').fadeIn().modal('show');
    })
  </script> 
 <%else%>

  <div class="agregar_evento">
    <img src="/assets/plus.png" /> Agregar Evento
  </div>

<%=render 'events/form' %>


<div id="container">
    <div class="timeline_container">
          <div class="timeline">
              <!-- <div class="plus"></div> -->
          </div>
      </div>
    <% @events.each do |event| %>   
        <div class="item <%=event.event_type%>">
          <!-- <a href='#' class='deletebox'>X</a> -->
          <div>
            <p><b><big><%=event.pet.name%></big></b></br>
            <small class="fecha"><small><%=event.created_at.strftime("%d-%m-%Y")%></small></small></p>
            <% if event.event_text != ""%>
              <p>"<%=event.event_text%>"</p>
            <%else%>
              <p><br/></p>
            <% end %>
            <% if event.photo.url(:small) != "/photos/small/missing.png"%>
                <% if (event.latitude && event.longitude)%>
                  <div id="gallery" class="item_img con_mapa">
                    
                      <a href="<%= event.photo.url(:original) %>" title="<%=event.event_text%>">
                      <%=image_tag event.photo.url(:small), :class => "imagen"%>
                      </a>
                    
                      <a href="http://maps.google.com/maps/api/staticmap?size=900x450&sensor=false&zoom=16&markers=<%= event.latitude %>%2C<%= event.longitude %>" title="<%=event.event_text%>">
                    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=130x150&sensor=false&zoom=16&markers=#{event.latitude}%2C#{event.longitude}", :class => 'item_mapa' %>
                    </a>
                  </div>
                <%else%>
                  <p id="gallery" class="item_img">
                    <!--<%=image_tag event.photo.url(:small), :class => "imagen"%> -->
                     <a href="<%= event.photo.url(:original) %>" title="<%=event.event_text%>">
                      <%=image_tag event.photo.url(:small), :class => "imagen"%>
                      </a>
                  </p>
                <%end%>
            <% else %>
              <% if (event.latitude && event.longitude)%>
                <%#= image_tag "http://maps.google.com/maps/api/staticmap?size=300x150&sensor=false&zoom=16&markers=#{event.latitude}%2C#{event.longitude}", :class => 'item_mapa' %>
                <%#= image_tag "http://maps.google.com/maps/api/staticmap?size=300x150&sensor=false&zoom=16&markers=#{event.latitude}%2C#{event.longitude}", :class => 'item_mapa' %>
                <p id="gallery">
                  <a href="http://maps.google.com/maps/api/staticmap?size=900x450&sensor=false&zoom=16&markers=<%= event.latitude %>%2C<%= event.longitude %>" title="<%=event.event_text%>">
                  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=300x150&sensor=false&zoom=16&markers=#{event.latitude}%2C#{event.longitude}", :class => 'item_mapa' %>
                </p>
              <%end%>
            <% end %>
            
          </div>
          <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-url="http://www.rhodium.cl" data-text="<%=event.pet.name%> Ha ido a un(a) <%=event.event_type%> <%= 'en '+event.location if not event.location.empty?%> <%#='http://0.0.0.0'+event.photo.url if (event.photo.url != "/photos/original/missing.png")%>" data-lang="es" data-hashtags="linevet">Twittear</a>

        </div>
          <div class="item invisible <%=event.event_type%>">
          </div>
          
    <% end %>
</div>
  
    
  </div>

 <%end%>
 <script>
  !function(d,s,id){
    var js,fjs=d.getElementsByTagName(s)[0];
    if(!d.getElementById(id))
      {js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}
  }(document,"script","twitter-wjs");
</script>