<h2>Instrucciones de desbloqueo</h2>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :correo %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "Reenviar instruciones de desbloqueo" %></div>
<% end %>

<%= render "users	/shared/links" %>
