<%= form_for @calendar_event, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :start_at, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :end_at, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :all_day, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :all_day, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_ocurrence, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :last_ocurrence, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :number_of_times, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :number_of_times, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :every, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :every, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :pet_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :pet_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                calendar_events_path, :class => 'btn' %>
  </div>
<% end %>
