<%- model_class = CalendarEvent -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:start_at) %></th>
      <th><%= model_class.human_attribute_name(:end_at) %></th>
      <th><%= model_class.human_attribute_name(:all_day) %></th>
      <th><%= model_class.human_attribute_name(:last_ocurrence) %></th>
      <th><%= model_class.human_attribute_name(:number_of_times) %></th>
      <th><%= model_class.human_attribute_name(:every) %></th>
      <th><%= model_class.human_attribute_name(:pet_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @calendar_events.each do |calendar_event| %>
      <tr>
        <td><%= link_to calendar_event.id, calendar_event_path(calendar_event) %></td>
        <td><%= calendar_event.name %></td>
        <td><%= calendar_event.start_at %></td>
        <td><%= calendar_event.end_at %></td>
        <td><%= calendar_event.all_day %></td>
        <td><%= calendar_event.last_ocurrence %></td>
        <td><%= calendar_event.number_of_times %></td>
        <td><%= calendar_event.every %></td>
        <td><%= calendar_event.pet_id %></td>
        <td><%=l calendar_event.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_calendar_event_path(calendar_event), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      calendar_event_path(calendar_event),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>