<%- model_class = CalendarEvent -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @calendar_event.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:start_at) %>:</strong></dt>
  <dd><%= @calendar_event.start_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:end_at) %>:</strong></dt>
  <dd><%= @calendar_event.end_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:all_day) %>:</strong></dt>
  <dd><%= @calendar_event.all_day %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_ocurrence) %>:</strong></dt>
  <dd><%= @calendar_event.last_ocurrence %></dd>
  <dt><strong><%= model_class.human_attribute_name(:number_of_times) %>:</strong></dt>
  <dd><%= @calendar_event.number_of_times %></dd>
  <dt><strong><%= model_class.human_attribute_name(:every) %>:</strong></dt>
  <dd><%= @calendar_event.every %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pet_id) %>:</strong></dt>
  <dd><%= @calendar_event.pet_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              calendar_events_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_calendar_event_path(@calendar_event), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              calendar_event_path(@calendar_event),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
