<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Sponsors</li>
	<p><%=image_tag('/assets/Rhodium.png', :size=>'100x50')%></p>
	<p><%=image_tag('/assets/socialweb.png',:class=>"pull-right" ,:size=>'50x50')%></p>
	<p><%=image_tag('/assets/UTFSM.png', :size=>'100x100')%></p>  
  </ul>
</div><!--/.well -->