<div class="prezi-player pull-left" style="margin: 0px 70px;" >
	<style type="text/css" media="screen">.prezi-player { width: 550px;} .prezi-player-links { text-align: center; }</style>
	<object id="prezi_woq5roxqs8kn" name="prezi_woq5roxqs8kn" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="550" height="400" style="margin: 0 auto;">
		<param name="movie" value="http://prezi.com/bin/preziloader.swf"/>
		<param name="allowfullscreen" value="true"/>
		<param name="allowFullScreenInteractive" value="true"/>
		<param name="allowscriptaccess" value="always"/>
		<param name="bgcolor" value="#ffffff"/>
		<param name="flashvars" value="prezi_id=woq5roxqs8kn&amp;lock_to_path=0&amp;color=ffffff&amp;autoplay=no&amp;autohide_ctrls=0"/>
		<embed wmode="transparent" id="preziEmbed_woq5roxqs8kn" name="preziEmbed_woq5roxqs8kn" src="http://prezi.com/bin/preziloader.swf" type="application/x-shockwave-flash" allowfullscreen="true" allowFullScreenInteractive="true" allowscriptaccess="always" width="550" height="400" bgcolor="#ffffff" flashvars="prezi_id=woq5roxqs8kn&amp;lock_to_path=0&amp;color=ffffff&amp;autoplay=no&amp;autohide_ctrls=0"></embed>
	</object>
	<div class="prezi-player-links">
		<p>Presiona Play para ver la presentación (More->AutoPlay para verla automáticamente)</p>
	</div>
</div>