 <div class="modal hide" id="new-event-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Nuevo Evento</h3>
    </div>
    <div class="modal-body">
      <%= form_for(@event, validate: true, remote: true, html: {"data-type" => :json}) do |f| %>
      <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> No fue posible guardar su comentario, intente nuevamente:</h2>

          <ul>
          <% @event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <%if @pets.nil? %>
      <div style="line-height:0.1em; display: none;" class="field">
        <%= f.label :mascota %><br />
        <%= f.text_field :pet_id , :value=>@pet.id, :readonly => true%>
      </div>
    <%else %>
      <div style="line-height:0.1em;" class="field">
        <%= f.label :mascota %><br />
        <%= f.select(:pet_id, @pets.all.collect {|p| [ p.name, p.id ] })%>
      </div>
    <%end %>
      <div style="line-height:0.1em;" class="field">
        <%= f.label :tipo_de_evento %><br />
        <%= f.select :event_type, @event.event_type_enum %>
      </div>
      <div style="line-height:0.1em;" class="field">
        <%= f.label :Lugar %><br />
        <%= f.text_field :location %>
      </div>
      <div style="line-height:0.1em;" class="field">
        <%= f.label :hecho %><br />
        <%= f.text_area :event_text, :class=>"cuadro_texto" %>
      </div>
      <div style="line-height:0.1em; "class="field">
        <%= f.label :foto %><br /> 
        <%= f.file_field :photo %>
      </div>
    </div>
    <div class="modal-footer">
      <div class="actions">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <%= f.submit "Agregar Evento", :class=>"btn btn-primary" %>
      </div>
    </div>
<% end %>

   

      

  </div>

