<h1>Listado de eventos</h1>

<table>
  <tr>
    <th>Mascota</th>
    <th>Tipo</th>
    <th>Fecha</th>
    <th>Descripción</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.pet.name %></td>
    <td><%= event.event_type %></td>
    <td><%= event.date %></td>
    <td><%= event.event_text %></td>
    <td><%= link_to 'Mostrar', event %></td>
    <td><%= link_to 'Editar', edit_event_path(event) %></td>
    <td><%= link_to 'Eliminar', event, method: :delete, data: { confirm: '¿Esta seguro que desea eliminar este evento?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo evento', new_event_path %>
