<p id="notice"><%= notice %></p>

<p>
  <b>Pet:</b>
  <%= @event.pet %>
</p>

<p>
  <b>Type:</b>
  <%= @event_type %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Text:</b>
  <%= @event_text %>
</p>
  <%= image_tag @event.photo.url(:small) %>  
</p>


<%= link_to 'Editar', edit_event_path(@event) %> |
<%= link_to 'Regresar', events_path %>
