<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @user.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:encrypted_password) %>:</strong></dt>
  <dd><%= @user.encrypted_password %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reset_password_token) %>:</strong></dt>
  <dd><%= @user.reset_password_token %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reset_password_sent_at) %>:</strong></dt>
  <dd><%= @user.reset_password_sent_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:remember_created_at) %>:</strong></dt>
  <dd><%= @user.remember_created_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sign_in_count) %>:</strong></dt>
  <dd><%= @user.sign_in_count %></dd>
  <dt><strong><%= model_class.human_attribute_name(:current_sign_in_at) %>:</strong></dt>
  <dd><%= @user.current_sign_in_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_sign_in_at) %>:</strong></dt>
  <dd><%= @user.last_sign_in_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:current_sign_in_ip) %>:</strong></dt>
  <dd><%= @user.current_sign_in_ip %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_sign_in_ip) %>:</strong></dt>
  <dd><%= @user.last_sign_in_ip %></dd>
  <dt><strong><%= model_class.human_attribute_name(:confirmation_token) %>:</strong></dt>
  <dd><%= @user.confirmation_token %></dd>
  <dt><strong><%= model_class.human_attribute_name(:confirmed_at) %>:</strong></dt>
  <dd><%= @user.confirmed_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:confirmation_sent_at) %>:</strong></dt>
  <dd><%= @user.confirmation_sent_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:unconfirmed_email) %>:</strong></dt>
  <dd><%= @user.unconfirmed_email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:failed_attempts) %>:</strong></dt>
  <dd><%= @user.failed_attempts %></dd>
  <dt><strong><%= model_class.human_attribute_name(:unlock_token) %>:</strong></dt>
  <dd><%= @user.unlock_token %></dd>
  <dt><strong><%= model_class.human_attribute_name(:locked_at) %>:</strong></dt>
  <dd><%= @user.locked_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:authentication_token) %>:</strong></dt>
  <dd><%= @user.authentication_token %></dd>
  <dt><strong><%= model_class.human_attribute_name(:role) %>:</strong></dt>
  <dd><%= @user.role %></dd>
  <dt><strong><%= model_class.human_attribute_name(:location) %>:</strong></dt>
  <dd><%= @user.location %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @user.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @user.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @user.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gender) %>:</strong></dt>
  <dd><%= @user.gender %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.regresar', :default => t("helpers.links.back")),
              users_path, :class => 'btn'  %>
  <%= link_to t('.editar', :default => t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn' %>
  <%= link_to t('.eliminar', :default => t("helpers.links.destroy")),
              user_path(@user),
              :method => 'eliminar',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Esta seguro?')) },
              :class => 'btn btn-danger' %>
</div>
