<h2>Cambiar contraseña</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, "Nueva contraseña" %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "Confirmar nueva contraseña" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Cambiar mi contraseña" %></div>
<% end %>

<%= render "users/shared/links" %>
