<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Blipet" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body data-spy="scroll" data-target="#sidebar" data-offset="80">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/" style="margin:0px; padding:10px"><%=image_tag('/assets/linevet.png', :size=>'100x40')%></a>
          <div class="container nav-collapse">
            <div class="row-fluid">
              <ul class="nav  pull-right">
                <% if user_signed_in? %>
                <li><%= render 'search/form' %></li>
                <li class="lnk <%='activeb' if controller?('pets') && action?('index', 'show') %>"><%= link_to('Mis Mascotas', pets_path)  %></li>
                <li class="lnk <%='activeb' if controller?('calendar')%>"><%= link_to('Mi Calendario', calendar_path)  %></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <%= image_tag current_user.avatar.url(:small) %> Mi Cuenta 
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to 'Editar información', edit_user_registration_path, :method => :delete %></li>
                      <li><%= link_to 'Cerrar Sesión', destroy_user_session_path, :method => :delete %></li>
                    </ul>
                  </li>
                <%else%>
                  <li><%= link_to('Registrarse', new_user_registration_path)  %></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Entrar al Sitio
                        <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <%= render 'users/sessions/login' %>
                      </ul>
                  </li>
                <%end%>
              </ul>
            </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  
    <div class="container" style="padding-top:90px;">
      <div class="row-fluid">
        <div id="sidebar" class="span3">
          <%= render 'navbar' rescue nil %>
        </div><!--/span-->
        <div class="well span9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <%= yield :scripts %>
  </body>
</html>