<p>Bienvenido <%= @resource.email %>!</p>

<p>Solo nos falta un paso, haga click en el siguiente enlace para validar la creacion de usuario</p>

<p><%= link_to 'Confirmar su cuenta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
