<p>Saludos <%= @resource.email %>!</p>

<p> Se ha solicitado un cambio de clave, si desea realizar dicho cambio haga click en el enlace a continuación. </p>

<p><%= link_to 'Cambiar su contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no ha solicitado un cambio de clave, ignore este correo.</p>
<p>Su clave no se cambiara hasta que haga click en el enlace enviado.</p>
