<p>Saludos. <%= @resource.email %>!</p>

<p> Su cuenta ha sido bloqueada por muchos intentos fallidos de inicio de sesión.</p>

<p>Haga clic en el enlace de abajo para desbloquear su cuenta:</p>

<p><%= link_to 'Desbloquear scuenta', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
