<h2>Actualizar información</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <%= f.label :'contraseña', :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :class => 'text_field' %> (*)
    </div>
  </div>
  <div class="control-group">
    <%= f.label :'confirmar contraseña', :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => 'text_field' %> (*)
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ubicación, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :'Foto de perfil', :class =>'control-label' %>
    <div class="controls">
      <%= f.file_field :avatar%>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :dirección, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :teléfono, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sexo, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :gender,{"Hombre"=>false,"Mujer"=>true} ,:class => 'select_field' %> (*)
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Privacidad", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :privacy_level,{"Público"=>1,"Sólo usuarios registrados"=>2, "Privado"=>3}%>
    </div>
  </div>

  <% if f.object.encrypted_password.present? %>
    <div class="control-group">
      <%= f.label :'contraseña actual', :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :current_password, :class => 'text_field' %> (*)
      </div>
    </div>
  <% end %>

  <h6>(*) Campos obligatorios </h6>   

  <div class="form-actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>
<h3>Cancelar mi cuenta</h3>

<p>¿No te gustó? <%= link_to "Cancelar mi cuenta", registration_path(resource_name), :data => { :confirm => "¿Esta seguro?" }, :method => :delete %>.</p>

<%= link_to "Regresar", :back %>
