<h2>Registrarse</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <%= f.label :'Correo', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %> (*)
    </div>
  </div>

  <% if f.object.password_required? %>
    <div class="control-group">
      <%= f.label :'Contraseña', :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password, :class => 'text_field' %> (*)
      </div>
    </div>
    <div class="control-group">
      <%= f.label :'Confirmar Contraseña', :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password_confirmation, :class => 'text_field' %> (*)
      </div>
    </div>
  <% end %>
  
  <div style="display: none" class="control-group">
    <%= f.label :role, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :role, :class => 'text_field', :value=>'owner' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :'Comuna', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'text_field' %> (*)
    </div>
  </div>
  <div class="control-group">
    <%= f.label :'Nombre', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %> (*)
    </div>
  </div>

 <div class="control-group">
    <%= f.label :'Foto de perfil', :class =>'control-label' %>
    <div class="controls">
      <%= f.file_field :avatar%>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :'Dirección', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :'Teléfono', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :'Sexo', :class => 'control-label' %>
    <div class="controls">
      <%= f.select :gender,{"Hombre"=>0,"Mujer"=>1} ,:class => 'select_field' %>
    </div>
  </div>

  <h6>(*) Campos obligatorios</h6>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>

<%= render "users/shared/links" %>
